
.large-icons-stack {
    text-align: center;
    color: #555;
}

.large-icons-stack  a{
    color: #555;
}

.large-icon {
    height: 100px;
    fill: #555;
}

.spacer-m {
    height: 70px;
    display: block;
}

.spacer-s {
    height: 30px;
    display: block;
}