
.large-icons-stack {
    text-align: center;
    color: #555;
}

.large-icons-stack  a{
    color: #555;
}

.large-icons-stack  svg.icon-download{
    fill: #48a2ff;
}

.large-icons-stack  svg.icon-docs{
    fill: #fac400;
}

.large-icons-stack  svg.icon-repo{
    fill: #fa6d00;
}

.large-icons-stack  svg.icon-bug{
    fill: #b90d00;
}

.large-icons-stack .col-xs-6 {
    margin-bottom: 30px;
}

.large-icon {
    height: 80px;
    fill: #555;
}

.spacer-m {
    height: 70px;
    display: block;
}

.spacer-s {
    height: 30px;
    display: block;
}
